.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: calc(var(--ratio) * 10px);
}

.burger-icon > span {
  background: #fff;
  border-radius: 10px;
  height: calc(var(--ratio) * 1px);
  margin: calc(var(--ratio) * 1px) 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger-icon > span:nth-of-type(1) {
  width: 50%;
}

.burger-icon > span:nth-of-type(2) {
  width: 100%;
}

.burger-icon > span:nth-of-type(3) {
  width: 75%;
}

.burger-icon.opened > span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(calc(var(--ratio) * 1px), 0px);
}

.burger-icon.opened > span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.burger-icon.opened > span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(calc(var(--ratio) * 4px), calc(var(--ratio) * -2px)) rotatez(45deg);
}